
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-586603012680581835.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-586603012680581835.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-586603012680581835.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-586603012680581835.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-586603012680581835.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-586603012680581835.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-586603012680581835.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-586603012680581835.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-586603012680581835.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-586603012680581835.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-586603012680581835.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-586603012680581835.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-586603012680581835.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-586603012680581835.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-586603012680581835.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-586603012680581835.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-586603012680581835.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-586603012680581835.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-586603012680581835.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-586603012680581835.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-586603012680581835.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-586603012680581835.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-586603012680581835.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-586603012680581835.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-586603012680581835.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-586603012680581835.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-586603012680581835.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-586603012680581835.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-586603012680581835.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-586603012680581835.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-586603012680581835.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-586603012680581835.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-586603012680581835.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-586603012680581835.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-586603012680581835.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-586603012680581835.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-586603012680581835.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-586603012680581835.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-586603012680581835.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-586603012680581835.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-586603012680581835.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-586603012680581835.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-586603012680581835.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-586603012680581835.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-586603012680581835.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-586603012680581835.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-586603012680581835.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-586603012680581835.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-586603012680581835.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-586603012680581835.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-586603012680581835.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-586603012680581835.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-586603012680581835.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-586603012680581835.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-586603012680581835.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-586603012680581835.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-586603012680581835.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-586603012680581835.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-586603012680581835.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-586603012680581835.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-586603012680581835.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-586603012680581835.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-586603012680581835.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-586603012680581835.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-586603012680581835.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-586603012680581835.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-586603012680581835.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-586603012680581835.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-586603012680581835.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-586603012680581835.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-586603012680581835.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-586603012680581835.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-586603012680581835.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-586603012680581835.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-586603012680581835.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-586603012680581835.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-586603012680581835.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-586603012680581835.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-586603012680581835.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-586603012680581835.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-586603012680581835.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-586603012680581835.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-586603012680581835.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-586603012680581835.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-586603012680581835.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-586603012680581835.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-586603012680581835.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-586603012680581835.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-586603012680581835.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-586603012680581835.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-586603012680581835.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-586603012680581835.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-586603012680581835.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-586603012680581835.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-586603012680581835 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-586603012680581835 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-586603012680581835 .gp-g-s-medium{padding:8px 24px}.gps-586603012680581835 .\!gp-static{position:static!important}.gps-586603012680581835 .gp-fixed{position:fixed}.gps-586603012680581835 .gp-relative{position:relative}.gps-586603012680581835 .gp-top-\[27px\]{top:27px}.gps-586603012680581835 .gp-z-\[100\]{z-index:100}.gps-586603012680581835 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-586603012680581835 .gp-mb-0{margin-bottom:0}.gps-586603012680581835 .\!gp-inline-block{display:inline-block!important}.gps-586603012680581835 .gp-inline-block{display:inline-block}.gps-586603012680581835 .gp-flex{display:flex}.gps-586603012680581835 .gp-inline-flex{display:inline-flex}.gps-586603012680581835 .gp-grid{display:grid}.gps-586603012680581835 .gp-contents{display:contents}.gps-586603012680581835 .\!gp-hidden{display:none!important}.gps-586603012680581835 .gp-hidden{display:none}.gps-586603012680581835 .gp-h-\[20px\]{height:20px}.gps-586603012680581835 .gp-h-auto{height:auto}.gps-586603012680581835 .gp-h-full{height:100%}.gps-586603012680581835 .gp-w-\[20px\]{width:20px}.gps-586603012680581835 .gp-w-\[calc\(100\%_-_20px\)\]{width:calc(100% - 20px)}.gps-586603012680581835 .gp-w-full{width:100%}.gps-586603012680581835 .gp-max-w-full{max-width:100%}.gps-586603012680581835 .gp-flex-none{flex:none}.gps-586603012680581835 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-586603012680581835 .gp-flex-col{flex-direction:column}.gps-586603012680581835 .gp-flex-wrap{flex-wrap:wrap}.gps-586603012680581835 .gp-items-center{align-items:center}.gps-586603012680581835 .gp-justify-center{justify-content:center}.gps-586603012680581835 .gp-overflow-hidden{overflow:hidden}.gps-586603012680581835 .gp-break-words{overflow-wrap:break-word}.gps-586603012680581835 .gp-rounded{border-radius:4px}.gps-586603012680581835 .\!gp-bg-white{--tw-bg-opacity:1!important;background-color:rgb(255 255 255/var(--tw-bg-opacity))!important}.gps-586603012680581835 .\!gp-bg-none{background-image:none!important}.gps-586603012680581835 .gp-p-\[16px\]{padding:16px}.gps-586603012680581835 .gp-text-\[14px\]{font-size:14px}.gps-586603012680581835 .gp-leading-normal{line-height:1.5}.gps-586603012680581835 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-586603012680581835 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-586603012680581835 .gp-no-underline{text-decoration-line:none}.gps-586603012680581835 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-586603012680581835 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586603012680581835 .gp-duration-200{transition-duration:.2s}.gps-586603012680581835 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586603012680581835 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-586603012680581835 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-586603012680581835 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-586603012680581835 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-586603012680581835 .tablet\:\!gp-hidden{display:none!important}.gps-586603012680581835 .tablet\:gp-hidden{display:none}.gps-586603012680581835 .tablet\:gp-h-auto{height:auto}.gps-586603012680581835 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-586603012680581835 .mobile\:\!gp-hidden{display:none!important}.gps-586603012680581835 .mobile\:gp-hidden{display:none}.gps-586603012680581835 .mobile\:gp-h-auto{height:auto}.gps-586603012680581835 .mobile\:gp-flex-none{flex:none}}.gps-586603012680581835 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-586603012680581835 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gUn1bxoWHG"}' data-id="gUn1bxoWHG" id="gUn1bxoWHG" data-same-height-subgrid-container class="gUn1bxoWHG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="golva1ghoy gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"goVCuxqoTm"}' data-id="goVCuxqoTm" id="goVCuxqoTm" data-same-height-subgrid-container class="goVCuxqoTm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwUzXyutFR gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gLqXxnPUvd"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1766091432576 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gLqXxnPUvd"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_586602904752751389-b27b3dbc-35c6-4210-8d9f-fefdd5ee52ac.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjY2IiBoZWlnaHQ9IjE1MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjY2LTE1MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjY2IiBoZWlnaHQ9IjE1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjY2IiBoZWlnaHQ9IjE1MCIgZmlsbD0idXJsKCNnLTY2Ni0xNTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NjYiIHRvPSI2NjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_586602904752751389-b27b3dbc-35c6-4210-8d9f-fefdd5ee52ac.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjY2IiBoZWlnaHQ9IjE1MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjY2LTE1MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjY2IiBoZWlnaHQ9IjE1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjY2IiBoZWlnaHQ9IjE1MCIgZmlsbD0idXJsKCNnLTY2Ni0xNTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NjYiIHRvPSI2NjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_586602904752751389-b27b3dbc-35c6-4210-8d9f-fefdd5ee52ac.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjY2IiBoZWlnaHQ9IjE1MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjY2LTE1MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjY2IiBoZWlnaHQ9IjE1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjY2IiBoZWlnaHQ9IjE1MCIgZmlsbD0idXJsKCNnLTY2Ni0xNTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NjYiIHRvPSI2NjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_586602904752751389-b27b3dbc-35c6-4210-8d9f-fefdd5ee52ac.png" | file_url }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"g_w4ikBajl"}' data-id="g_w4ikBajl" id="g_w4ikBajl" data-same-height-subgrid-container class="g_w4ikBajl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gk-8eE6Eh7 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gjcCzX_eSG"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1766091432579 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gjcCzX_eSG"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_586602904752751389-bedc6d71-db74-4f50-af89-eec00200d276.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTM5OCIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMzk4LTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEzOTgiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTM5OCIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMTM5OC0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTM5OCIgdG89IjEzOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_586602904752751389-bedc6d71-db74-4f50-af89-eec00200d276.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTM5OCIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMzk4LTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEzOTgiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTM5OCIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMTM5OC0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTM5OCIgdG89IjEzOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_586602904752751389-bedc6d71-db74-4f50-af89-eec00200d276.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTM5OCIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMzk4LTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEzOTgiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTM5OCIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMTM5OC0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTM5OCIgdG89IjEzOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_586602904752751389-bedc6d71-db74-4f50-af89-eec00200d276.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gPEsEUNWe7 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glxCXp92R7"
        class="glxCXp92R7"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:var(--g-s-m);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:var(--g-s-m);--mr-mobile:var(--g-s-m);--pt-mobile:var(--g-s-m);--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mr-tablet:var(--g-s-m);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--size:41px;--size-tablet:46px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglxCXp92R7_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
      
    <div class="gp-mx-auto gp-max-w-full" style="--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--pt:24px;--pb:24px;--bc:var(--g-c-line-3, line-3);--bw:1px 1px 1px 1px;--bgc:transparent;--bgi:url();--bs:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
      <gp-form
        data-id="guwiZ6UVhW" id="guwiZ6UVhW" data-submit-action="stay-on-page"
        data-callback='{"link":"","target":"_self","type":"stay-on-page"}'
      >
        <a
          hidden="true" id="gp-form-callback-guwiZ6UVhW"
        >
        </a>
        {% form 'contact', class: 'gp-form-guwiZ6UVhW ', id: 'contact_form_guwiZ6UVhW' %}
          {% if form.errors %}
            <div
              id="gp-form-error-guwiZ6UVhW"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#F44336"
            >
              {{ section.settings.gguwiZ6UVhW_errorMessage }}
            </div>
          {% endif %}
          <div popover id="my-popover-guwiZ6UVhW">
            <style>
              
    #my-popover-guwiZ6UVhW::backdrop {
      width: fit-content;
      height: fit-content;
    }
  
            </style>
            <div
              id="gp-form-success-guwiZ6UVhW"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#00A042"
            >
              {{ section.settings.gguwiZ6UVhW_successMessage }}
            </div>
          </div>
          
    

    

    
    <gp-row gp-data='{"uid":"g9OOJMmsf0"}' data-id="g9OOJMmsf0" id="g9OOJMmsf0" data-same-height-subgrid-container class="g9OOJMmsf0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:16px;--mb-tablet:16px;--cg:16px;--cg-mobile:0px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3Rk5Rg7jm gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="g7pfBymT4_"
      class="g7pfBymT4_"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:var(--g-s-m);--mb-mobile:var(--g-s-l);--mr-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left"
    >
      <input
        type="text"
        class="g7pfBymT4_ gp-text-g-text-1 gp-g-s-medium gp-form-item !gp-outline-none !gp-bg-none !gp-bg-white"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:12px;--pr:12px;--pt:12px;--pb:12px;--c:var(--g-c-text-1, text-1);--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--bs:solid;--bw:0px 0px 1px 0px;--bc:var(--g-c-line-2, line-2);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
        placeholder="{{ section.settings.gg7pfBymT4__placeholder }}"
        required
        name="Імʼя"
        value=""
      ></input>
    </div>
  
    <div
      
      data-id="gLyIsJyAAR"
      class="gLyIsJyAAR flex flex-col"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m);--mb:0;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:var(--g-s-m);--mb-mobile:var(--g-s-l);--mr-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:var(--g-s-m);--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left"
    >
      
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 gp-g-s-medium !gp-outline-none !gp-bg-none email-form-gLyIsJyAAR"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:12px;--pr:12px;--pt:12px;--pb:12px;--b:solid;--bc:var(--g-c-line-2, line-2);--bw:0px 0px 1px 0px;--bs:solid;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:#FFFFFF;--bgi:url()"
        placeholder="{{ section.settings.ggLyIsJyAAR_placeholder }}"
        name="contact[email]"
        required
        autocomplete="email"
        
      ></input>
    </div>
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:var(--g-s-m);--pt:0px;--pl:auto;--pb:0px;--pr:0px;--mr-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:auto;--pb-mobile:0px;--pr-mobile:0px;--mr-tablet:var(--g-s-m);--pt-tablet:0px;--pl-tablet:auto;--pb-tablet:0px;--pr-tablet:0px" class="ggrfWgyY00 ">
      
    <div
      data-id="ggrfWgyY00"
      style="--ta:left"
    >
      <label
        style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--cg:[object Object];--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--pl:24px;--pr:24px;--pt:12px;--pb:12px"
        class="ggrfWgyY00 gp-flex gp-flex-wrap gp-items-center"
      >
        <input
          class="gp-h-[20px] gp-w-[20px] !gp-inline-block !gp-static"
          name="contact[agree]"
          type="checkbox"
          
          required
          style="appearance:auto"
        >
        </input>
        <span class="w-auto gp-w-[calc(100%_-_20px)]" style="--pl:4px">
          {{ section.settings.gggrfWgyY00_description }}
        </span>
      </label>
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:var(--g-s-m);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mr-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mr-tablet:var(--g-s-m);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px" class="g3z3_BY2bO ">
      
    <div
      data-id="g3z3_BY2bO"
      style="--ta:left"
    >
      <label
        style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--cg:[object Object];--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--pl:24px;--pr:24px;--pt:12px;--pb:12px"
        class="g3z3_BY2bO gp-flex gp-flex-wrap gp-items-center"
      >
        <input
          class="gp-h-[20px] gp-w-[20px] !gp-inline-block !gp-static"
          name="contact[agree]"
          type="checkbox"
          
          required
          style="appearance:auto"
        >
        </input>
        <span class="w-auto gp-w-[calc(100%_-_20px)]" style="--pl:4px">
          {{ section.settings.gg3z3_BY2bO_description }}
        </span>
      </label>
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:var(--g-s-m);--mr-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left" >
        <style>[data-id="gIW9_BBLUU"].gp-button-base::before, [data-id="gIW9_BBLUU-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gIW9_BBLUU"]:hover::before, [data-id="gIW9_BBLUU-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gIW9_BBLUU" dataId="gIW9_BBLUU" data-state="idle" aria-label="ПРИЄДНАТИСЯ"
          
          type="submit"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--c:var(--g-c-text-3, text-3)"
          class="gIW9_BBLUU gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggIW9_BBLUU_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
  
        {% endform %}
      </gp-form>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-form-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    </div>

      
    </gp-row>
  
  
      
    <div class="gp-mx-auto gp-max-w-full" style="--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--pt:24px;--pb:24px;--bc:var(--g-c-line-3, line-3);--bw:1px 1px 1px 1px;--bgc:transparent;--bgi:url();--bs:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
      <gp-form
        data-id="gh-DwU8A13" id="gh-DwU8A13" data-submit-action="stay-on-page"
        data-callback='{"link":"","target":"_self","type":"stay-on-page"}'
      >
        <a
          hidden="true" id="gp-form-callback-gh-DwU8A13"
        >
        </a>
        {% form 'contact', class: 'gp-form-gh-DwU8A13 ', id: 'contact_form_gh-DwU8A13' %}
          {% if form.errors %}
            <div
              id="gp-form-error-gh-DwU8A13"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#F44336"
            >
              {{ section.settings.ggh-DwU8A13_errorMessage }}
            </div>
          {% endif %}
          <div popover id="my-popover-gh-DwU8A13">
            <style>
              
    #my-popover-gh-DwU8A13::backdrop {
      width: fit-content;
      height: fit-content;
    }
  
            </style>
            <div
              id="gp-form-success-gh-DwU8A13"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#00A042"
            >
              {{ section.settings.ggh-DwU8A13_successMessage }}
            </div>
          </div>
          
    

    

    
    <gp-row gp-data='{"uid":"gfCE0FAerC"}' data-id="gfCE0FAerC" id="gfCE0FAerC" data-same-height-subgrid-container class="gfCE0FAerC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:16px;--mb-tablet:16px;--cg:16px;--cg-mobile:0px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUQMSaAycN gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gNwdcBAmtS"}' data-id="gNwdcBAmtS" id="gNwdcBAmtS" data-same-height-subgrid-container class="gNwdcBAmtS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-VhicSNcD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ga7XRHAyMY"
        class="ga7XRHAyMY"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:var(--g-s-3xl);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:var(--g-s-3xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:var(--g-s-3xl);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gga7XRHAyMY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gx-1uryeyH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gce39d_hVf"
        class="gce39d_hVf"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:var(--g-s-m);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mr-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mr-tablet:var(--g-s-m);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggce39d_hVf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gvXN3zDB86"}' data-id="gvXN3zDB86" id="gvXN3zDB86" data-same-height-subgrid-container class="gvXN3zDB86 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--mb-tablet:16px;--cg:16px;--cg-mobile:0px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwxbNj-brP gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="goSO1_FCj5"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1766091432605 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto goSO1_FCj5"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_586602904752751389-7ec86441-49a6-486b-a9af-94b8638b8a88.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yODgwLTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI4ODAiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMjg4MC0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjg4MCIgdG89IjI4ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_586602904752751389-7ec86441-49a6-486b-a9af-94b8638b8a88.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yODgwLTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI4ODAiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMjg4MC0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjg4MCIgdG89IjI4ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_586602904752751389-7ec86441-49a6-486b-a9af-94b8638b8a88.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yODgwLTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI4ODAiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMjg4MC0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjg4MCIgdG89IjI4ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_586602904752751389-7ec86441-49a6-486b-a9af-94b8638b8a88.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
        {% endform %}
      </gp-form>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-form-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-586603012680581835 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fcbbdb-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=586602957785531075&sectionId=586603012680581835)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gglxCXp92R7_text","label":"gglxCXp92R7_text","default":"<span style=\"color:rgb(0,0,0);\">Приєднуйся до спільноти&nbsp;</span><br><span style=\"color:rgb(0,0,0);font-size:40px;\">Blast Out Studio — першим дізнавайся про нові колекціі та новини бренду</span>"},{"type":"html","id":"gguwiZ6UVhW_successMessage","label":"gguwiZ6UVhW_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"gguwiZ6UVhW_errorMessage","label":"gguwiZ6UVhW_errorMessage","default":"Can’t send email. Please try again later."},{"type":"html","id":"gg7pfBymT4__placeholder","label":"gg7pfBymT4__placeholder","default":"Імʼя"},{"type":"html","id":"ggLyIsJyAAR_placeholder","label":"ggLyIsJyAAR_placeholder","default":"Email"},{"type":"html","id":"gggrfWgyY00_description","label":"gggrfWgyY00_description","default":"Я хочу отримувати персоналізовані повідомлення комерційного характеру \nвід Blast Out Studio електронною поштою."},{"type":"html","id":"gg3z3_BY2bO_description","label":"gg3z3_BY2bO_description","default":"Я прочитав(-ла) і розумію Політику конфіденційності та використання файлів cookie"},{"type":"html","id":"ggIW9_BBLUU_label","label":"ggIW9_BBLUU_label","default":"ПРИЄДНАТИСЯ"},{"type":"html","id":"ggh-DwU8A13_successMessage","label":"ggh-DwU8A13_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"ggh-DwU8A13_errorMessage","label":"ggh-DwU8A13_errorMessage","default":"Can’t send email. Please try again later."},{"type":"html","id":"gga7XRHAyMY_text","label":"gga7XRHAyMY_text","default":"<p><span style=\"color:rgb(0,0,0);font-size:17px;\">Короткий список переваг:</span></p>"},{"type":"html","id":"ggce39d_hVf_text","label":"ggce39d_hVf_text","default":"<ol><li>Доступ до нових колекцій першими</li><li>Доступ до закритих інсайдів</li><li>Рекомендаціі стилістів та персональний підбір гардеробу</li></ol>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}